<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="@ViewData["Url"]" />
    <meta name="description" content="En podcast om utveckling, teknik, frilansande och allt runt omkring." />
    <meta property="og:url" content="@ViewData["Url"]" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Kompilator - En podcast om utveckling, teknik, frilansande och allt runt omkring." />
    <meta property="og:image" content="https://kompilator.se/img/kompilator-og.jpg" />
    <meta property="og:image:url" content="https://kompilator.se/img/kompilator-og.jpg" />
    <meta property="twitter:image" content="https://kompilator.se/img/kompilator-og.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="kompilator.se">
    <meta property="twitter:url" content="@ViewData["Url"]">
    <meta name="twitter:title" content="@ViewData["Title"]">
    <meta name="twitter:description" content="Kompilator - En podcast om utveckling, teknik, frilansande och allt runt omkring.">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/water-dark.min.css">
    <style>
        .listen img {
            max-width: 150px;
            max-height: 56px;
        }
    </style>
</head>
<body>
    @RenderBody()

    <footer>
        <center><a href="/">Alla avsnitt</a> | <a href="/om">Om Kompilator</a></center>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>