@page "/{EpisodeId}"
@model EpisodePage
@{
    ViewData["Title"] = @Model.Episode.Title + " | Podcasten Kompilator";
    ViewData["Url"] = "https://kompilator.se/" + Model.Episode.EpisodeSlug;

}

<h1>@Model.Episode.Title</h1>

<iframe loading="lazy" height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/@Model.Episode.Id?dark=false"></iframe>
<div>
    <a class="listen" href="https://open.spotify.com/show/3yUXDikALYz3dDYhmKaXRs"><img src="~/img/spotify.webp" /></a>
    <a class="listen" href="https://podcasts.apple.com/se/podcast/kompilator/id1455198510"><img src="~/img/itunes.webp" /></a>
    <a class="listen" href="https://overcast.fm/itunes1455198510/kompilator"><img src="~/img/overcast.webp" /></a>
    <a class="listen" href="https://pca.st/9j4O"><img src="~/img/pocketcasts.webp" /></a>
</div>
<p>
@Html.Raw(Model.Episode.Description)
</p>
@Html.Raw(Model.Episode.LongDescription)
<p style="display: none">@Directory.GetCurrentDirectory()</p>