@page
@model IndexModel
@{
    ViewData["Title"] = "Start | Podcasten Kompilator";
    ViewData["Url"] = "https://kompilator.se/";
    
}

<img src="img/kompilator-logo.png" />
<h1>Kompilator</h1>
<p>
    Podcasten för nyfikna utvecklare. Varannan vecka träffar Bartek Tatkowski en ny gäst och samtalar om utveckling, open source, startups och teknik.
</p>
<a class="listen" href="https://open.spotify.com/show/3yUXDikALYz3dDYhmKaXRs"><img src="~/img/spotify.png" /></a>
<a class="listen" href="https://podcasts.apple.com/se/podcast/kompilator/id1455198510"><img src="~/img/itunes.png" /></a>
<a class="listen" href="https://overcast.fm/itunes1455198510/kompilator"><img src="~/img/overcast.png" /></a>
<a class="listen" href="https://pca.st/9j4O"><img src="~/img/pocketcasts.png" /></a>

<h2>Senaste avsnittet</h2>
<h3>@Model.LatestEpisode.Title</h3>
<iframe loading="lazy" height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/@Model.LatestEpisode.Id?dark=false"></iframe>
@Html.Raw(Model.LatestEpisode.Description)
@Html.Raw(Model.LatestEpisode.LongDescription)
<p>
    <a href="/@Model.LatestEpisode.EpisodeSlug">Shownotes och länkar</a>
</p>
<h2>Alla avsnitt</h2>
<table>
    <thead>
        <tr>
            <th>Titel</th>
            <th>Publicerad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var episode in Model.Episodes)
        {

            <tr>


                <td><a href="/@episode.EpisodeSlug">@episode.Title</a></td>
                <td>@episode.Published?.ToString("yyyy-MM-dd")</td>


            </tr>
        }
    </tbody>
</table>
